<nav class="navbar navbar-expand-lg navbar-light bg-custom ">
  <a class="navbar-brand " href="#">
    <img src="assets/img/vp2.ico" width="55" height="50" class="d-inline-block align-top" alt="">
  </a>  
  <a class="navbar-brand punt" href="#">
    Valeria Pindo
  </a>  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link Hachi-Maru-Pop" href="#">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link Hachi-Maru-Pop" href="#" >Mi perfil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link Hachi-Maru-Pop" href="#">Conocimientos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link Hachi-Maru-Pop" href="#">Proyetos </a>
      </li>
      <li class="nav-item">
        <a class="nav-link Hachi-Maru-Pop" href="#">Contacto </a>
      </li>
    </ul>
    
  </div>
</nav>
  